<nav class="navbar navbar-dark bg-black">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <!-- اللوجو -->

        <a routerLink="/">
            <img src="assets/WDLogo.jfif" alt="Wadi Degla Logo" style="height: 50px;">
        </a>

        <!-- العنوان -->
        <div class="text-center flex-grow-1 px-2 text-light">
            <span class="fs-6 fs-md-3 fw-bolder text-truncate d-block">برنامج لوكرات نادي وادي دجله</span>
        </div>


    </div>
</nav>

<!-- زرار تسجيل الخروج -->
<!-- <div *ngIf="isLoggedIn" class="mx-2 my-1">
    <button class="btn btn-sm btn-danger logOut" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        تسجيل الخروج
    </button>
</div> -->